<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About- Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

  <%- include('partials/navbar', { page: '/about' }) %>
    <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">About the developer behind this.</p>

        </div>
      </div>
    </div>
  </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="https://cdn.pixabay.com/photo/2023/04/29/09/51/polana-kalatowki-7958161_1280.jpg"
          alt="profile" />

      </div>
      <div class="prose">

        <p>"Hello I am Dazzle Kalra. I am an enthusiastic student of Seneca College. I study at the Markham Campus."</p>

      </div>

    </div>

  </div>
</body>

</html>